/*  your css code here. If applicable */
.main{
	background-color:gray;
	/* max-width:1100px; */
}
.imageContainer img{
	width:300px;
	padding:3px;
	/* height:100px; */
}
.table img{
	width:150px;
}
.table td{
	padding:5px;
}
.table h3{
	text-align:center;
}